* {
  margin: auto 0;
}

h1 {
  margin: auto;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 40px;
}

span#value {
  margin-left: 50%;
  text-align: center;
}

.button-container {
  margin-left: 45%;
  margin-top: 80px;
}

body {
  width: 100%;
  font-family: sans-serif;
  font-size: 18px;
}
